<h3>Product Create</h3>

<form #form="ngForm" (ngSubmit)="saveProduct(form)" action="">
  <div class="alert alert-danger" *ngIf="error">
    {{ error }}
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input
      [(ngModel)]="model.name"
      #name="ngModel"
      required
      minlength="5"
      type="text"
      name="name"
      class="form-control"
      id="name"
    />
    <div class="text-danger mt1" *ngIf="name.invalid && name.touched">
      Please enter a valid name
    </div>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input
      [(ngModel)]="model.price"
      #price="ngModel"
      required
      type="number"
      max="10000000"
      min="1"
      name="price"
      class="form-control"
      id="price"
    />
    <div class="text-danger mt1" *ngIf="price.invalid && price.touched">
      Please enter a valid Price
    </div>
  </div>
  <div class="mb-3">
    <label for="imageUrl" class="form-label">imageUrl</label>
    <input
      [(ngModel)]="model.imageUrl"
      type="text"
      name="imageUrl"
      class="form-control"
      id="imageUrl"
    />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      [(ngModel)]="model.description"
      name="description"
      class="form-control"
      id="description"
    ></textarea>
  </div>
  <div class="form-check mb-3">
    <input
      type="checkbox"
      name="isActive"
      id="isActive"
      class="form-check-input"
      [(ngModel)]="model.isActive"
    />
    <label for="flexCheckDefault" class="form-check-label"> isActive </label>
  </div>
  <div class="mb-3">
    <label for="categoryId" class="form-label">Category</label>
    <select
      [(ngModel)]="model.categoryId"
      name="categoryId"
      id="categoryId"
      class="form-select"
    >
      <option value="0">Category</option>
      <option *ngFor="let category of categories" value="{{ category.id }}">
        {{ category.name }}
      </option>
    </select>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
    Save Product
  </button>
</form>
